h2,
h3,
h4,
h5 {
    font-weight: 300;
}

.test-box {
    border: 1px solid black;
    height: 50vh;
}

.page-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .page-container {
        width: 85%
    }
}

@media only screen and (min-width: 993px) {
    .page-container {
        width: 55%
    }
}

@media only screen and (max-width: 768px) {
    .team-img img {
        height: 150px;
    }
}

@media only screen and (min-width: 601px) {
    .row .col.m2-5 {
        width: 20%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l2-5 {
        width: 20%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}


/***NAVIGATION BAR***/

nav {
    position: absolute;
    height: 56px;
    top: 0;
    z-index: 10000;
}

nav .button-collapse {
    color: white;
    width: 100%;
}

nav ul.nav-large li {
    text-align: center;
}

nav ul li a {
    height: 56px;
    text-transform: uppercase;
    font-size: 18px;
}

.nav_txt-white {
    color: whitesmoke;
}

.nav_txt-orange {
    color: whitesmoke;
}

.nav {
    width: 100%;
    margin-left: 22vw;
}

.nav li {
    text-align: center;
}

.nav-wrapper a {
    height: 56px;
}

.sticky-bg-white {
    background-color: #f65151;
    transition: all .2s;
}

.sticky-bg-transparent {
    background-color: transparent;
    transition: all .05s;
}

#sticky {
    padding-top: 40px;
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    padding-top: 0;
}

#sticky-anchor.sticky-height {
    height: 56px;
}

@media only screen and (max-width:993px) {
    #sticky {
        position: fixed;
        top: 0;
        z-index: 10000;
        padding-top: 0;
    }
    .sticky-bg-transparent {
        background-color: #f65151;
    }
}

.nav ul {
    line-height: 56px;
}

.nav ul li {
    width: 13%;
    position: absolute;
    display: none;
}

.whatwedo>ul>li {
    height: 56px;
}

.nav li ul {
    height: 0;
}

.whatwedo:hover ul li {
    background-color: white;
    display: block;
}

.side-nav #m-home {
    margin-top: 20px;
}

.side-nav {
    background: #f65151;
    margin: 56px 0 0 0;
}

.side-nav li>a {
    color: white;
}

.side-nav li>a>i.material-icons {
    margin-right: 120px;
    color: white;
}

.m.whatwedo:hover {
    cursor: pointer;
}

.m-whatwedo-submenu {
    display: none;
}

.m-whatwedo-submenu.active {
    display: block;
}

.m-whatwedo-submenu li {
    padding-left: 30px;
}

#arrow-right {
    display: none;
}

#arrow-right.active {
    display: block;
}

#arrow-down {
    display: none;
}

#arrow-down.active {
    display: block;
}

#logo {
    padding: 7px 0 0 20px;
}

.mobile-logo img {
    margin-top: 25px;
}

.mobile-logo:hover {
    background-color: transparent;
}

#home:hover,
#about:hover,
#services:hover,
#whatwedo:hover,
#software:hover,
#exhibits:hover,
#contact:hover {
    transition: .1s ease-in-out;
}

#home.active,
#m-home.active,
#home:hover {
    background-color: #FEBF68;
    color: white;
    transition: .1s ease-in-out;
}

#about.active,
#m-about.active,
#about:hover {
    background-color: #3584ec;
    color: white;
    transition: .1s ease-in-out;
}

#services.active,
#m-services.active,
#services:hover {
    background-color: #64de84;
    color: white;
    transition: .1s ease-in-out;
}

#whatwedo i.right {
    margin-left: unset;
}

#whatwedo.active,
#m-whatwedo1.active,
#whatwedo:hover {
    background-color: #ecef4c;
    height: 56px;
    color: black;
    transition: .1s ease-in-out;
}

#robot,
#software,
#exhibits {
    background-color: #f65151;
    border-top: 1px solid #FEBF68;
}

#robot.active,
#m-robot.active,
#robot:hover {
    background-color: #ecef4c;
    height: 56px;
    color: black;
    transition: .1s ease-in-out;
}

#m-whatwedo1.software-bg {
    background-color: #ff9346;
    height: 56px;
    color: white;
    transition: .1s ease-in-out;
}

#m-whatwedo1.exhibits-bg {
    background-color: #3584ec;
    color: white;
    transition: .1s ease-in-out;
}

#whatwedo.software-bg {
    background-color: #ff9346;
    height: 56px;
    color: white;
    transition: .1s ease-in-out;
}

#whatwedo.exhibits-bg {
    background-color: #3584ec;
    color: white;
    transition: .1s ease-in-out;
}

#software.active,
#m-software.active,
#software:hover {
    background-color: #ff9346;
    height: 56px;
    color: white;
    transition: .1s ease-in-out;
}

#exhibits.active,
#m-exhibits.active,
#exhibits:hover {
    background-color: #3584ec;
    color: white;
    transition: .1s ease-in-out;
}

#ourteam.active,
#m-ourteams.active,
#ourteam:hover {
    background-color: white;
    color: black;
    transition: .1s ease-in-out;
}

#news.active,
#m-news.active,
#news:hover {
    background-color: #3584ec;
    color: white;
    transition: .1s ease-in-out;
}


/**END-NAVBAR**/


/**CONTACT **/

#modal-contact {
    margin-top: 5%;
}

#modal-contact .input-field .prefix.active {
    color: #2196F3;
}

#modal-contact .btn {
    background-color: #2196f3
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    -webkit-box-shadow: 0 1px 0 0 #2196F3;
    box-shadow: 0 1px 0 0 #2196F3
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #2196F3
}


/** END CONTACT **/


/* SECTION 2 */

.section-2 .about-img {
    max-width: 100%;
    height: 350px;
    background-image: url('../images/section-images/what is liser.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-width: 601px) {
    .section-2 .about-img {
        height: 300px;
    }
}

.section-2 {
    color: whitesmoke;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #2b83c8;
}

.liser-robotics-description {
    margin-bottom: 0;
}

.liser-robotics-description p {
    font-size: 19px;
}

.why-liser {
    margin-top: 40px;
}

.why-liser p {
    font-size: 17px;
}

.section-2 h3,
.section-2 h4 {
    margin-top: 0;
}

.section-2 video {
    width: 100%;
}


/** SECTION 7 **/

.section-7 {
    color: #212121;
    padding-bottom: 35px;
    padding-top: 75px;
    height: 100vh;
}

.section-7 .row {
    margin-bottom: 0;
}

.section-7 img.team-title {
    margin-bottom: 80px;
}

.team-img span {
    margin-top: 0;
    font-size: 20px;
}

@media only screen and (max-width: 993px) {
    .team-img img {
        height: 150px;
    }
}


/** SECTION-8 **/


/* OUR PARTNERS */

.partners-logo img {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 993px) {
    .partners-logo img {
        height: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}


/*our partners end*/


/** SERVICES **/


/** SECTION-3 **/

.section-3 {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #5bc076;
}

.section-3 .col.s12 img {
    padding-top: 10px;
    height: 200px;
    display: block;
    margin: auto;
}

.section-3 .liser-offer-img {
    max-width: 100%;
    height: 300px;
    background-image: url('../images/section-images/liser offers.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section-3 .sample-img {
    max-width: 100%;
    height: 400px;
    background-image: url('../images/liseroffers/temp-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 601px) {
    .section-3 .sample-img {
        max-width: 100%;
        height: 200px;
        background-image: url('../images/liseroffers/temp-image.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.title1 h4 {
    background-color: #FF5756;
    margin-top: 0;
    padding: 10px 0;
}

.title2 h4 {
    background-color: #50A4AF;
    margin: 0;
    padding: 10px 0;
}

.title3 h4 {
    background-color: #DBA456;
    margin: 0;
    padding: 10px 0;
}

.title4 h4 {
    background-color: #5baeff;
    margin: 0;
    padding: 10px 0;
}

.title5 h4 {
    background-color: #83CA80;
    margin: 0;
    padding: 10px 0;
}

.title6 h4 {
    background-color: #5579B6;
    margin: 0;
    padding: 10px 0;
}

.section-3 .row {
    margin-bottom: 0;
}

.section-3 h4 {
    color: whitesmoke;
}

.section-3 p {
    color: #3D5170;
    font-size: 19px;
}

.section-3 .col.l4 img {
    padding-top: 10px;
    height: 150px;
    display: block;
    margin: auto;
}


/** WHAT WE DO **/


/**SECTION 4**/

.section-4 {
    padding-bottom: 75px;
    padding-top: 75px;
    background-color: #e7e956;
}

.section-4 .row {
    margin-bottom: 0;
}

.section-4 h3,
.section-4 h4 {
    margin-top: 0;
}

.section-4 h3,
.section-4 h4 {
    color: #242e3d;
}

.section-4 .liser-robot-img {
    max-width: 100%;
    height: 300px;
    background-image: url('../images/section-images/liser robot with road.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 40px;
}

@media only screen and (max-width: 601px) {
    .section-4 .liser-robot-img {
        height: 200px;
    }
}

.section-4 p {
    color: #242e3d;
}

.section-4 .robot-img {
    padding-left: 0;
    padding-right: 0;
}

.section-4 .robot-img img {
    width: 100%;
}

.liser-description p {
    font-size: 19px;
}

.why-liser-robot p,
{
    font-size: 17px;
}

.why-liser-robot {
    margin-top: 40px;
}

.robot-img .l12 h4 {
    padding-top: 12px;
}

.robot-img img {
    padding-bottom: 10px;
}


/** SECTION 5 **/

.section-5 {
    color: whitesmoke;
    background-color: #f48434;
    padding-bottom: 75px;
    padding-top: 75px;
}

.section-5 .row {
    margin-bottom: 0;
}

img.progsoft-title {
    padding-bottom: 40px;
}

.section-5 .minibloq-desc {
    margin-top: 20px;
}

.section-5 .minibloq-img {
    max-width: 100%;
    height: 300px;
    background-image: url('../images/section-images/programming software.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-width: 601px) {
    .section-5 .liser-robot-img {
        height: 200px;
    }
    img.progsoft-title {
        padding-bottom: 30px;
    }
    .section-5 .minibloq-desc {
        margin-top: 0px;
    }
    .section-5 .minibloq-img {
        margin-bottom: 20px;
    }
}

.section-5 h3,
.section-5 h4 {
    margin-top: 0;
}

.section-5 p {
    margin-bottom: 0;
}

.section-5 .btn {
    margin-top: 20px;
    background-color: #03a9f4;
}

.section-5 .btn:hover {
    background-color: #01579b;
}

.minibloq-desc {
    margin-top: 60px;
}

.section-5 p {
    font-size: 19px
}

.minibloq-txtprog {
    margin-top: 40px;
}

.minibloq-txtprog p {
    font-size: 17px;
}


/**END SECTION 5**/


/**SECTION 6**/

.section-6 {
    padding-bottom: 75px;
    color: whitesmoke;
    padding-top: 75px;
    background-color: #2b83c8;
}

.section-6 .card-panel {
    max-height: 100vh;
    word-wrap: break-word;
    margin-top: 0;
}

.section-6 .col,
.section-6 .row {
    padding-right: 0;
    padding-left: 0;
}

.section-6 .card-panel {
    height: 400px;
    width: 100%;
}

.section-6 h4 {
    margin-top: 0px;
}

.section-6 p {
    margin-bottom: 0;
}

.section-6 .exhibits-workshops-img {
    max-width: 100%;
    height: 300px;
    background-image: url('../images/section-images/exhibits and workshops.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .section-6 .exhibits-workshops-img {
        height: 200px;
    }
}


/* SLIDE IMAGE */

.caro-img-1 {
    background-image: url('../images/exhibits&educational/exhibits/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.caro-img-2 {
    background-image: url('../images/exhibits&educational/exhibits/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.caro-img-3 {
    background-image: url('../images/exhibits&educational/exhibits/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.caro-next {
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
}

.caro-previous {
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1;
}

.caro-previous a:hover {
    cursor: pointer;
}

.caro-next a:hover {
    cursor: pointer;
}


/**END SECTION 6**/


/** SECTION 9 **/


/* SECTION 9 */

.section-9 {
    min-height: 100%;
    background-color: #2b83c8;
    padding-bottom: 35px;
    padding-top: 75px;
}

.section-9 .row {
    margin-bottom: 0;
}

.section-9 .news-img {
    max-width: 100%;
    height: 300px;
    background-image: url('../images/section-images/news.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 601px) {
    .section-9 .news-img {
        height: 200px;
    }
}

.section-9 .news-post {
    padding-bottom: 20px;
}

.section-9 .news-post .post {
    margin-bottom: 40px;
}

.section-9 .post h3,
.section-9 .post h6 {
    padding-left: 10px;
}

.section-9 .archive {
    min-height: 100%;
}

.archive-month {
    padding: 0px 5px 0px 5px;
}

.archive-month li {
    padding: 10px 0;
}

.archive h4 {
    margin-top: 10px;
    text-align: center;
}


/** section 9 END **/


/** Footer **/

.page-footer {
    background-color: #37444e;
}

.page-footer img {
    height: 50px;
}

.page-footer .responsive-img iframe {
    width: 100%;
    height: 355px;
}

.page-footer button {
    display: inline-flex;
    vertical-align: bottom;
}

.page-footer .btn {
    background-color: #2196F3;
}

.page-footer iframe {
    width: 100%;
}


/** END FOOTER **/


/** CARD PANEL **/

.panel-red {
    background-color: #f65151;
}

.panel-blue {
    background-color: #2677b6;
}

.panel-yellow {
    background-color: #dee144;
}

.panel-orange {
    background-color: #ec7a29;
}